.card-body2{
    background-image: url(../assets/signup2.jpg);
    background-size:cover;
    color:white;
    margin-top:1rem;
    padding:2rem;
    letter-spacing: 3px;
}
.card-body{
    background-color: transparent;
}